#navbar {
	background-color: midnightblue;
}

#navbar img {
	height: 6.5em;
	padding: 14px;
	display: inline-block;
	float: left;
}

#navbar #name {
	display: inline-block;
	color: white;
    text-align: center;
    padding: 1.5em 1em;
    font-size: 1.5em;
    font-weight: bold;
}

#navbar ul {
	display: inline-block;
	float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
	display: inline-block;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.5em 1em;
    font-size: 1.5em;
    text-decoration: none;
}

#navbar li a:hover {
	background-color: lightslategray;
}

#navbar .dropdown-content {
    display: none;
    z-index: 1;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
#navbar .dropdown-content a {
    color: black;
   	font-size: 1em;
   	padding: 1em;
    display: block;
    text-align: left;
}

/* Change color of dropdown links on hover */
#navbar .dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
#navbar #features:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
#features:hover {
    background-color: lightslategray;
}