html { 
  background: url(images/peru.jpg) no-repeat fixed; 
  background-position: center 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#contact {
	position: absolute;
	bottom: 1em;
	right: 0;
	color: midnightblue;
}

#contact a {
	padding: 1em;
}

.fa {
	color: midnightblue;
}

.fa:hover {
	color: steelblue;
}